
h1 {
    position: relative;
    font-size: 3rem;
    color: #5CDB95;
}

h2 {
    position: relative;
    font-size: 1.5rem;
    color: #FFD166;
}

h3 {
    position: relative;
    font-size: 2rem;
    /*color: #F76C6C;*/
    color: #FFD166;
    /*color: #FFD166;*/
}

@media screen and (max-width: 980px) {
    h1 {
        position: relative;
        font-size: 6rem;
        color: #5CDB95;
        margin-left: 20px;
    }

    h2 {
        font-size: 3rem;
        margin-left: 20px;
    }

    h3 {
        font-size: 2.5rem;
        margin-left: 20px;

    }

    input {
        margin-left: 20px;
    }
}

html {
    block-size: 100%;
    inline-size: 100%;
}

body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui, sans-serif;
    /*background: #A8D0E6;*/
    /*background: #05386B;*/
    background: #2D3047;
}

input {
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    border: 0;
    font-family: inherit;
    border-radius: 5px;
    height: 56px;
    font-size: 26px;
    font-weight: 400;
    margin-top: 5px;
}

.button1 {
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    height: 38px;
    border: none;
    color: #2D3047;
    background-color: #5CDB95;
}


