<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🧑‍🎓🧑‍🎓{{ arr[0][1] }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='style.css') }}">
</head>
<body>
    <h3>Skala ocen dla maksymalnej ilosci punktów {{ arr[0][1]}} </h3>
    <h2>{{ arr[0][0] }} {{ arr[0][2] }}</h2>
    <h2>{{ arr[1][0] }} {{ arr[1][1] }} - {{ arr[1][2] }}</h2>
    <h2>{{ arr[2][0] }} {{ arr[2][1] }} - {{ arr[2][2] }}</h2>
    <h2>{{ arr[3][0] }} {{ arr[3][1] }} - {{ arr[3][2] }}</h2>
    <h2>{{ arr[4][0] }} {{ arr[4][1] }} - {{ arr[4][2] }}</h2>
    <h2>{{ arr[5][0] }} {{ arr[5][1] }} - {{ arr[5][2] }}</h2>
    <button type="button" onclick="history.back()" class="button1">Powrót</button>
</body>
</html>